// Buttons
//
// A majority of buttons in the site are built from
// the same base class.
//
// Markup:
// <button type="button" class="btn">Button</button>
// <a href="#" class="btn">Button link</a>
//
// Style guide: Elements.Buttons

.btn {
  display: inline-block;
  padding: .5em 1.5em;
  border-radius: 20em; /* excessive value to keep it round */
  font-weight: bold;
  background-color: #E87F67;
  color: #3E3040;
  /* … */
  font-family: sans-serif;
  font-size: .875em;
  line-height: 1.5em;
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  border: none;
}
