// Colors
//
// Buttons can and should be clicked.
//
// Colors:
// ColorName: #fad - color description
// $light: #eee;
// $light-grey: #ddd;
// $primary: #468;
// $dark: #222;
// $name-can-be-variable: white - description and name are optional

// Styleguide 1.1

$light: #eee;
$light-grey: #ddd;
$primary: #468;
$dark: #222;
