// Colors
//
// Buttons can and should be clicked.
//
// Colors:
// ColorName: #fad - color description
// $light: #eee;
// $light-grey: #ddd;
// $primary: #468;
// $dark: #222;
// $color-text-base: #222 !default;
// $color-bg-emphase: #eee !default;
// $color-alert-info: #224d66 !default;
// $color-alert-success: #5a792c !default;
// $color-alert-warning: #c47908 !default;
// $color-alert-error: #b62922 !default;
// $name-can-be-variable: white - description and name are optional

// Styleguide Design:colors

$light: #eee;
$light-grey: #ddd;
$primary: #468;
$dark: #222;

$color-text-base: #222 !default;
$color-bg-emphase: #eee !default;

$color-alert-info: #224d66 !default;
$color-alert-success: #5a792c !default;
$color-alert-warning: #c47908 !default;
$color-alert-error: #b62922 !default;
