body {
  background-color: #ffffff;
  color:#b2bec3;
}

h1 {
  color: #636e72
}

/** Desktop **/

@media screen and (min-width: 40em) {

  body {
    background-color: #808080;
  }

}

/** Dark Mode **/

@media (prefers-color-scheme: dark) {

  body {
    color: #ddd;
    background-color: #222;
  }

}
