body {
  background-color: #fff;
  color: #222;
}

h1 {
  color: #468;
}

main {
  max-width: 35em;
  margin: 0 auto;
}

nav {
	background-color:#ddd;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  padding: .5em 1em;
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main > * {
  flex: 100%;
}

@media screen and (min-width: 35em) {
  article {
    flex: 0 0 60%;
  }

  aside {
    flex: 0 0 30%;
  }
}

article img {
  width: 100%;
}

.youtube-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.icon {
  width: 125px;
  height: 125px;
  background: #eee;
}
