$light: #eee;
$light-grey: #ddd;
$primary: #468;
$dark: #222;

body {
  background-color: $light;
  color: $dark;
}

h1 {
  color: $primary;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 35em;
  margin: 0 auto;

  > * {
    flex: 100%;
  }
}

nav {
  background-color:$light-grey;

  ul {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: .5em 1em;
    }
  }
}

@media screen and (min-width: 35em) {
  article {
    flex: 0 0 60%;

    img {
      width: 100%;
    }
  }

  aside {
    flex: 0 0 30%;
  }
}

.youtube-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.icon {
  width: 125px;
  height: 125px;
  background: $light;
}
